<script>
    import AbraSuaConta from '../AbraSuaConta/index.vue'

    export default {
        components: {
            AbraSuaConta
        }
    }
</script>

<template>
    <section id="digital" class="digital">
        <!-- <div class=""> -->
            <div class="col-12 row d-flex justify-content-center">
                <AbraSuaConta class="d-none d-lg-block col-12 col-lg-4" />
                <div class="col-12 col-lg-8 d-flex justify-content-center flex-column py-5">
                    <div class="col-12 py-5">
                        <div class="col-12">
                            <h1 class="text-white text-start"><span>1DBank</span></h1>
                            <h1 class="text-white text-start">DIGITAL E INOVADOR</h1>
                        </div>
                        <div>
                            <p class="text-white">Tudo o que você sempre esperou do seu banco, sem filas e sem burocracia.</p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <button class="col-12 p-3 p-lg-4 rounded border-0">Abrir conta</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </section>
</template>

<style lang="scss" scoped>
    @import './index';
</style>
