.digital {
    background-image: url(/assets/img/group-4.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 992px) {
            // min-height: 0;
        }

    font-family: work sans, sans-serif;
    h1 {
        font-weight: 700;
        font-size: 48px;
        @media(max-width: 992px) {
            font-size: 30px;
        }
    }
    span {
        color: rgb(69, 210, 121);
    }
    button {
        background-color: rgb(69, 210, 121);
    }
}
