<script>

</script>

<template>
    <section class="abraSuaConta">
        <div class="col-12 bg-digital d-flex justify-content-center">
            <div class="col-6 col-lg-5 d-flex justify-content-around flex-column py-5">
                <div class="arrow d-flex justify-content-center">
                    <img src="/assets/img/icon/arrow-1.png" />
                </div>
                <div class="">
                    <div class="d-flex justify-content-center">
                        <img src="/assets/img/icon/smartphone.png" />
                    </div>
                    <p class="text-white text-center">Abra sua conta totalmente online, pelo celular</p>
                </div>
                <div class="">
                    <div class="d-flex justify-content-center">
                        <img src="/assets/img/icon/globe.png" />
                    </div>
                    <p class="text-white text-center">Todos os serviços no celular, computador e tablet</p>
                </div>
                <div class="">
                    <div class="d-flex justify-content-center">
                        <img src="/assets/img/icon/unlock.png" />
                    </div>
                    <p class="text-white text-center">Desbloqueio de cartões e senhas de aplicativo</p>
                </div>
                <div class="">
                    <div class="d-flex justify-content-center">
                        <img src="/assets/img/icon/credit-card.png" />
                    </div>
                    <p class="text-white text-center">Pague suas compras com os pontos do cartão de crédito na hora que quiser</p>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import './index';
</style>
