.abraSuaConta {
    // width: 100vw;
    .bg-digital {
        height: 100vh;
        background-color: black;
        p {
            font-weight: 300;
            font-size: 18px;
        }
    }
    .arrow {
        margin-top: -180px;
    }
}