<template>
  <section class="container">
    <div class="sobre">
      <swiper
        :modules="modules"
        :slides-per-view="2"
        :space-between="50"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
      >
        <swiper-slide>
          <div class="py-5">
            <div class="py-lg-5">
              <div class="text-center">
                <span class="color-span">Conta corrente</span>
              </div>
              <ul>
                <li class="text-center">
                  Abertura de conta corrente 100% online
                </li>
                <li class="text-center">
                  Atendimento disponível para o que precisar
                </li>
              </ul>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="py-5">
            <div class="py-lg-5">
              <div class="text-center">
                <span class="">Conta corrente</span>
              </div>
              <ul>
                <li class="text-center">
                  Abertura de conta corrente 100% online
                </li>
                <li class="text-center">
                  Atendimento disponível para o que precisar
                </li>
              </ul>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="py-5">
            <div class="py-lg-5">
              <div class="text-center">
                <span class="">Conta corrente</span>
              </div>
              <ul>
                <li class="text-center">
                  Abertura de conta corrente 100% online
                </li>
                <li class="text-center">
                  Atendimento disponível para o que precisar
                </li>
              </ul>
            </div>
          </div>
        </swiper-slide>   
        ...
      </swiper>
    </div>
  </section>
</template>
<script>
  // Import Swiper Vue.js components
  import { Swiper, SwiperSlide } from 'swiper/vue';

  // Import Swiper styles
  import 'swiper/css';

  export default {
    components: {
      Swiper,
      SwiperSlide,
    },
    setup() {
      const onSwiper = (swiper) => {
        console.log(swiper);
      };
      const onSlideChange = () => {
        console.log('slide change');
      };
      return {
        onSwiper,
        onSlideChange,
        modules: [],
      };
    },
  };
</script>

<style lang="scss" scoped>
  @import './index';
</style>
