#header.header {
    position: fixed;
    width: 100%;
    background-color: rgb(23, 24, 23);
    transition: all ease 1s !important;
    z-index:31 !important;

    .texto {
        font-weight: 100;
        color: rgba(255, 255, 255, 0.69);
    }

    .btn-conta {
        background-color: #45D279;
        border: none;
    }

    .btn-conta:hover {
        background-color: #1de967;
    }

    li a {
        color: white !important;
    }
    .marginUl{
        position: fixed;
        left: 0;
    }
    .abrirContaCollapse {
        background-image: url(/assets/img/nova-conta.png);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        z-index: 1 !important;
        // margin-left: -300px;
        // position: fixed;
        // left: 0;
        a {
            background-color: transparent;
        }
    }
    .acessarContaCollapse {
        background-color: rgb(24, 135, 77);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        z-index: 1 !important;
        // margin-left: -300px;
        // position: fixed;
        // left: 0;
        a {
            background-color: transparent;
        }
    }

    .coluna {
        background-color: rgb(23, 24, 23, 0.8);
    }
    .coluna:hover {
        background-color: transparent;
    }
    .AcConta {
        position: fixed;
        right: 0;
    }
    .base-arrow:hover {

        .arrow {
            transform: rotate(180deg);
            transition-duration: 0.5s;
        }
    }
}
