<script setup>
  export default {
    methods: {
      say: function () {
        // location.href="#paraVoce"
        this.click()
      }
    }
  }
</script>

<template>
  <section class="header" id="header">
      <div class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <ul class="list-unstyled d-lg-none">
          <li class="nav-link">
            <a class="navbar-brand" href="/">
              <img src="/assets/img/logo.png"/>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa-solid fa-bars img-fluid" :style="{color: 'white'}"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-between" :style="{width: '100%'}">
            <ul class="d-flex flex-column flex-lg-row list-unstyled">

              <li class="nav-link d-none d-lg-block">
                <a class="navbar-brand" href="/">
                  <img src="/assets/img/logo.png"/>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a v-on:mouseover="say()" class="nav-link pt-3 base-arrow" data-bs-toggle="collapse" href="#paraVoce" role="button" aria-expanded="false" aria-controls="collapseExample">
                  PARA VOCÊ
                  <i class="fa-solid fa-angle-down arrow"></i>
                </a>
                <ul class="collapse list-unstyled"  id="paraVoce">
                  <li><a class="dropdown-item" href="#">INÍCIO</a></li>
                  <li><a class="dropdown-item" href="#">CONTA CORRENTE</a></li>
                  <li><a class="dropdown-item" href="#">CARTÕES</a></li>
                  <li><a class="dropdown-item" href="#">EMPRÉSTIMOS</a></li>
                  <li><a class="dropdown-item" href="#">DINHEIRO DE VOLTA</a></li>
                  <li><a class="dropdown-item" href="#">PORTABILIDADE</a></li>
                  <li><a class="dropdown-item" href="#">INVESTIMENTOS</a></li>
                  <li><a class="dropdown-item" href="#">SEGUROS</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link pt-3 base-arrow" data-bs-toggle="collapse" href="#paraSuaEmpresa" role="button" aria-expanded="false" aria-controls="collapseExample">
                  PARA SUA EMPRESA
                  <i class="fa-solid fa-angle-down arrow"></i>
                </a>
                <ul class="collapse list-unstyled" id="paraSuaEmpresa">
                  <li><a class="dropdown-item" href="#">CONTA PESSOA ÚNICA</a></li>
                  <li><a class="dropdown-item" href="#">CONTA EMPRESA</a></li>
                  <li><a class="dropdown-item" href="#">CONTA CORPORATE</a></li>
                  <li><a class="dropdown-item" href="#">CONTA AGRONEGÓCIO</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link pt-3 base-arrow" data-bs-toggle="collapse" href="#sobre" role="button" aria-expanded="false" aria-controls="collapseExample">
                  SOBRE
                  <i class="fa-solid fa-angle-down arrow"></i>
                </a>
                <ul class="collapse list-unstyled" id="sobre">
                  <li><a class="dropdown-item" href="#">INSTITUCIONAL</a></li>
                  <li><a class="dropdown-item" href="#">GOVERNANÇA</a></li>
                  <li><a class="dropdown-item" href="#">RELAÇÃO COM INVESTIDORES</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link pt-3" href="#">AJUDA</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown px-3">
                <a class="nav-link p-3 border-0 rounded-pill text-center" :style="{width: '200px', backgroundColor: '#45D279', color: 'black',}" >
                  ACESSAR CONTA
                </a>
                <!-- <a class="nav-link pt-3" :style="{width: '200px'}" data-bs-toggle="collapse" href="#acessarConta" role="button" aria-expanded="false" aria-controls="collapseExample">
                  ACESSAR CONTA
                </a>
                <ul class="collapse list-unstyled marginUl" id="acessarConta">
                  <li class="acessarContaCollapse row">
                    <div class="col-12 col-lg-6 h-100 d-flex justify-content-center align-items-center flex-column">
                      <div>
                        <h5 class="text-center text-white">PARA VOCÊ</h5>
                      </div>
                      <div>
                        <p class="texto text-center">Sem filas, sem burocracia e 100% digital. Abra sua conta totalmente online.</p>
                      </div>
                      <div>
                        <button class="p-3 px-5 rounded btn-conta">ABRIR CONTA</button>
                      </div>
                    </div>
                    <div class="col-12 col-lg-6 h-100 d-flex justify-content-center align-items-center flex-column">
                      <div>
                        <h5 class="text-center text-white">PARA SUA EMPRESA</h5>
                      </div>
                      <div>
                        <p class="texto text-center">
                          Individual, com mais de um sócio, Corporate ou Agro.<br />
                          Temos uma conta para cada necessidade e perfil de negócio.
                        </p>
                      </div>
                      <div>
                        <button class="p-3 px-5 rounded btn-conta">ABRIR CONTA</button>
                      </div>
                    </div>
                  </li>
                </ul> -->
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link p-3 rounded-pill text-center"  :style="{width: '200px', backgroundColor: '#4A4B4A'}" data-bs-toggle="collapse" href="#abrirNovaConta" role="button" aria-expanded="false" aria-controls="collapseExample">
                  ABRIR NOVA CONTA
                </a>
                <ul class="collapse list-unstyled d-lg-none" id="abrirNovaConta">
                  <li><a class="dropdown-item" href="#">CONTA CORPORATE</a></li>
                  <li><a class="dropdown-item" href="#">CONTA AGRONEGÓCIO</a></li>
                </ul>
                <ul class="collapse list-unstyled marginUl" id="abrirNovaConta">
                  <li class="abrirContaCollapse row">
                    <div :style="{position: 'absolute', top: '100px'}">
                      <h1 class="text-center text-white">ABRIR NOVA CONTA</h1>
                    </div>
                    <div class="col-12 col-lg-6 h-100 coluna d-flex justify-content-center align-items-center flex-column">
                      <div>
                        <h5 class="text-center text-white">PARA VOCÊ</h5>
                      </div>
                      <div>
                        <p class="texto text-center">Sem filas, sem burocracia e 100% digital. Abra sua conta totalmente online.</p>
                      </div>
                      <div>
                        <button class="p-3 px-5 rounded btn-conta">ABRIR CONTA</button>
                      </div>
                    </div>
                    <div class="col-12 col-lg-6 h-100 coluna d-flex justify-content-center align-items-center flex-column">
                      <div>
                        <h5 class="text-center text-white">PARA SUA EMPRESA</h5>
                      </div>
                      <div>
                        <p class="texto text-center">
                          Individual, com mais de um sócio, Corporate ou Agro.<br />
                          Temos uma conta para cada necessidade e perfil de negócio.
                        </p>
                      </div>
                      <div>
                        <button class="p-3 px-5 rounded btn-conta">ABRIR CONTA</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </ul>
        </div>
    </nav>
      </div>
    <!-- <div class="collapse list-unstyled abrirContaCollapse fixed-top" id="abrirNovaConta">
      <a class="nav-link pt-3 bg-light" data-bs-toggle="collapse" href="#abrirNovaConta" role="button" aria-expanded="false" aria-controls="collapseExample">
        x
      </a>
      <div class="h-100 d-flex justify-content-between  align-items-center">
        <a class="dropdown-item" href="#">ABRI NOVA CONTA</a>
        <a class="dropdown-item" href="#">ABRI NOVA CONTA</a>
        <a class="dropdown-item" href="#">ABRI NOVA CONTA</a>
      </div>
    </div> -->
  </section>

</template>

<style lang="scss" scoped>
  @import './index';
</style>
