.proximo {

    font-family: Work Sans, sans-serif;
    h1 {
        font-weight: 400;
        font-size: 48px;
        @media(max-width: 992px) {
            font-size: 30px;
        }
    }
    span {
        color: rgb(69, 210, 121);
    }       
}