<script setup>

</script>

<template>
    <section class="proximo">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 pt-5">
                    <div class="d-flex justify-content-center">
                        <div class="col-lg-6">
                            <h1 class="text-center">
                                PRÓXIMO, POR QUE FAZEMOS TUDO <span>DO SEU JEITO</span>
                            </h1>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="col-lg-8">
                            <p class="text-center py-2">
                                A tecnologia de um banco 100% digital, aliada a experiência dos melhores profissionais do mercado, com soluções criadas para você.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-12 h-lg-100 bg-digital d-flex justify-content-center">
                    <div class="row col-7 col-lg-12 d-flex justify-content-around">
                        <div class="col-12 col-lg-4 py-1">
                            <div class="d-flex justify-content-center">
                                <img src="/assets/img/icon/smartphone.png" />
                            </div>
                            <p class="py-2 text-center">Controle de todos os seus investimentos pelo celular</p>
                        </div>
                        <div class="col-12 col-lg-4 py-1">
                            <div class="d-flex justify-content-center">
                                <img src="/assets/img/icon/globe.png" />
                            </div>
                            <p class="py-2 text-center">Consultas e transações onde você estiver</p>
                        </div>
                        <div class="col-12 col-lg-4 py-1">
                            <div class="d-flex justify-content-center">
                                <img src="/assets/img/icon/unlock.png" />
                            </div>
                            <p class="py-2 text-center">Saque em toda rede Banco24Horas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import './index';
</style>
