<script setup>

</script>

<template>
    <section id="umBanco" class="umBanco">
        <div class="container-fluid">
            <div class="row">
                <div class="umBancoMulher d-none d-lg-block col-12 col-lg-6">
                    
                </div>
                <div class="row col-12 col-lg-6">
                    <div class=" col-12 d-flex justify-content-center align-items-center flex-column py-5">
                        <div class="col-12">
                            <p class="text-center">UM BANCO <span>CONFIÁVEL REVOLUCIONÁRIO.</span></p>
                        </div>
                        <div class="col-6 col-lg-4">
                            <button class="col-12 p-3 p-lg-4 rounded border-0">Abrir conta</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="umBancoMulher d-block d-lg-none col-12 col-lg-6 h-lg-100">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <div class="col-12">
                            <p class="text-center text-white">UM BANCO <span>CONFIÁVEL REVOLUCIONÁRIO.</span></p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <button class="col-12 p-3 p-lg-4 rounded border-0">Abrir conta</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import './index';
</style>
