.umBanco {
    // background-image: url(../../assets/img/group-3.jpg);
    // background-size: cover;
    // // background-position: center;
    // height: 100vh;

    .umBancoMulher {
        background-image: url(/assets/img/group-6.jpg);
        background-size: cover;
        background-position: top;
        min-height: 100vh;
    }

    .sumir {
        display: flex;
        @media(max-width: 992px) {
            display: none;
        }
    }
    font-family: Work Sans, sans-serif;
    p {
        font-weight: 200;
        font-size: 64px;
        @media(max-width: 992px) {
            font-size: 30px;
        }
    }
    span {
        color: rgb(69, 210, 121);
    }
    button {
        background-color: rgb(69, 210, 121);
    }
}
