<script>

</script>

<template>
    <section id="transparencia" class="somos">
        <div class="">
            <div class="d-flex justify-content-between align-items-center flex-column">
                <div class="box-top d-flex align-items-center justify-content-center flex-column">
                    <div class="col-12 col-lg-8 pt-lg-5">
                        <h1 class="text-white text-center"><span>TRANSPARÊNCIA</span>, NAS RELAÇÕES E NAS TRANSAÇÕES.</h1>
                    </div>
                    <div>
                        <p class="text-white text-center py-3">Uma relação aberta e transparente a cada ação, com serviços adequados às suas necessidades e linguagem mais simples e objetiva.</p>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <button class="col-12 p-3 p-lg-4 rounded border-0">Abrir conta</button>
                    </div>
                </div>
                <div class="container-fluid row bg-black-somos">
                    <div class="col-lg-4 py-3">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/gift.png" />
                        </div>
                        <p class="text-white text-center">Pague suas compras com os pontos do cartão de crédito na hora que quiser</p>
                    </div>
                    <div class="col-lg-4 py-3">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/clipboard.png" />
                        </div>
                        <p class="text-white text-center">Programa de pontos com cálculos em Real, seus pontos independem da cotação do dolar</p>
                    </div>
                    <div class="col-lg-4 py-3">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/smartphone.png" />
                        </div>
                        <p class="text-white text-center">Liguagens simples e direta, sem jargões do mercado financeiro</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import './index';
</style>
