.solidez {
    // background-image: url(../../assets/img/group-3.jpg);
    // background-size: cover;
    // // background-position: center;
    // min-height: 100vh;

    .umBancoMulher {
        background-image: url(/assets/img/group-7.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    font-family: Work Sans, sans-serif;
    p {
        font-weight: 300;
        font-size: 18px;
    }
    span {
        color: rgb(69, 210, 121);
    }
    button {
        background-color: rgb(69, 210, 121);
    }
}
