<script setup>

</script>

<template>
    <section class="solidez">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 col-lg-6 d-flex justify-content-around align-items-center flex-column h-lg-100 pb-5 py-lg-5">
                    <div class="col-6 col-4">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/briefcase.png" />
                        </div>
                        <p class="text-center">Solidez: R$ 2 Bilhões em patrimônio e mais de R$ 14,9 Bilhôes em ativos</p>
                    </div>
                    <div class="col-6 col-4">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/users.png" />
                        </div>
                        <p class="text-center">Time de especialistas do mercado financeiro</p>
                    </div>
                    <div class="col-6 col-4">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/share-2.png" />
                        </div>
                        <p class="text-center">Tecnologia e segurança de última geração</p>
                    </div>
                </div>
                <div class="umBancoMulher d-none d-lg-block col-12 col-lg-6 d-flex justify-content-center align-items-center flex-column h-lg-100">

                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import './index';
</style>
