.sliders {
    background-image: url(/assets/img/group-3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 992px) {
            // min-height: 0;
        }
    font-family: Work Sans, sans-serif;
    h1 {
        font-weight: 200;
        font-size: 64px;
        @media(max-width: 992px) {
            font-size: 30px;
        }
    }
    span {
        color: rgb(69, 210, 121);
    }
    button {
        background-color: rgb(69, 210, 121);
    }
}
