<script setup>
  import MenuLateral from "../MenuLateral/index.vue"

  export default {
    components: {
      MenuLateral,
    }
  }
</script>

<template>
  <section class="sliders">
    <div class="container-fluid py-5">
      <div
        class="
          d-flex
          justify-content-center
          align-items-center
          flex-column
          py-5
        "
      >
        <div class="col-12 col-lg-8">
          <h1 class="text-white text-center">
            UM BANCO DIGITAL <span>PARA VOCÊ</span> RESOLVER TUDO EM UM SÓ LUGAR
          </h1>
        </div>
        <!-- <div class="col-12 col-lg-4">
                    <button class="col-12 p-3 p-lg-4 rounded border-0">Abrir conta</button>
                </div> -->
      </div>
    </div>
    <MenuLateral />
  </section>
</template>

<style lang="scss" scoped>
  @import "./index";
</style>
