<template>
    <section class="container-fluid comece">

        <!-- Modal -->
            <div class="row">
                <div class="col-12 col-lg-6 py-5 d-flex justify-content-center">
                    <div class="col-12 col-lg-10 d-flex flex-column align-items-center">
                        <div class="col-12 col-lg-10 p-5 bg-white">
                            <div class="">
                                <h2 class="">
                                    Comece agora
                                </h2>
                            </div>
                            <div>
                                <p>
                                    Está pronto para mudar a sua vida?
                                </p>
                            </div>
                            <div v-if="erro">
                                <AlertModal type-msg="erro" titulo-msg="Erro!" :message-msg="erro" />
                            </div>
                            
                            <div v-if="sucesso">
                                <AlertModal type-msg="sucesso" titulo-msg="Sucesso!" :message-msg="sucesso" />
                            </div>
                            
                            <!-- <div v-if="alerta">
                                <AlertModal type-msg="Alerta" titulo-msg="Alerta!" message-msg="Prencha os campos corretamente" />
                            </div> -->

                            <form action="/leads" method="POST" v-on:submit.prevent="onSubmit" class="col-12 d-flex flex-column justify-content-center align-items-center">
                                <input type="hidden" name="_token" :value="csrf">
                                <div class="input-group mb-3">
                                    <input type="text" class="col-12 form-control" placeholder="Nome completo" name="nome" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    <span class="input-group-text icones-input" id="inputGroup-sizing-default">
                                        <img class="img-fluid" src="/assets/img/icon/Vector.png" />
                                    </span>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="E-mail" name="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    <span class="input-group-text icones-input" id="inputGroup-sizing-default">
                                        <img class="img-fluidt" src="/assets/img/icon/Vector-1.png" />
                                    </span>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Telefone" name="telefone" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    <span class="input-group-text icones-input" id="inputGroup-sizing-default">
                                        <img class="img-fluid" src="/assets/img/icon/Vector-2.png" />
                                    </span>
                                </div>
                                <div>
                                    <p>
                                        Ao enviar seus dados, você concorda que o Banco Original entre em contato com e declara estar da <span>Política de Privacidade</span>
                                    </p>
                                </div>
                                <div>
                                    <button type="submit" class=" p-2 px-5 border-0 rounded">Abrir conta</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 py-5 d-flex justify-content-center align-items-center">
                    <div class="col-12 col-lg-10">
                        <div class="py-5">
                            <h1 class="text-white">
                                Um <span>banco digital completo</span> para você resolver tudo em um só lugar
                            </h1>
                        </div>
                        <div class="py-3">
                            <p class="text-white">
                                Baixe agora mesmo o app e abra sua conta!
                            </p>
                        </div>
                        <div class="d-flex">
                            <a href="/">
                                <img class="img-fluid" src="/assets/img/image-7.png" />
                            </a>
                            <a class="px-3" href="/">
                                <img class="img-fluid" src="/assets/img/image-6.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div :style="{height: '2px'}" >
                <hr :style="{height: '2px', color: 'white'}"/>
            </div>
    </section>
</template>

<style lang="scss" scoped>
    @import './index.scss';
</style>

<script>
    import AlertModal from '../AlertModal/index.vue'

    export default {
        components: {
            AlertModal
        },
        methods: {
            onSubmit(event) {
                event.target.submit()
            }
        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                erro: document.querySelector('meta[name="erro"]').getAttribute('content'),
                sucesso: document.querySelector('meta[name="sucesso"]').getAttribute('content'),
                // alerta: document.querySelector('meta[name="alerta"]').getAttribute('content')
            }
        }
    }
</script>