.comece {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    background-color: black;
    h2 {
        color: rgb(0, 168, 87);
        font-weight: 700;
    }
    span {
        color: rgb(0, 168, 87);
       
    }
    .icones-input {
        width: 40px;
        background-color: white;
        border-left: none;
    }
    button {
        background-color: rgb(0, 168, 87);
        color: white;
    }
    button:hover {
        background-color: rgb(0, 124, 64);
        color: white;
    }
    button:active {
        background-color: rgb(0, 168, 87);
        color: white;
    }
    input {
        border-right: none;
    }
}