<template>
    <div>
        <Header />
        <!-- <MenuLateral /> -->
        <Sliders />
        <Digital />
        <AbraSuaConta class="d-md-block d-lg-none"/>
        <Proximo />
        <Teste />
        <Somos />
        <UmBanco />
        <Solidez />
        <Transparencia />
        <!-- <Sobre /> -->
        <Comece />
        <Footer />
    </div>
</template>

<script>

import Header from "./Header/index.vue";
// import MenuLateral from "./MenuLateral/index.vue";
import Sliders from "./Sliders/index.vue";
import Digital from "./Digital/index.vue";
import AbraSuaConta from "./AbraSuaConta/index.vue";
import Proximo from "./Proximo/index.vue";
import Teste from "./Teste/Teste.vue";
import Somos from "./Somos/index.vue";
import UmBanco from "./UmBanco/index.vue";
import Solidez from "./Solidez/index.vue";
import Transparencia from "./Transparencia/index.vue";
// import Sobre from "./Sobre/index.vue";
import Comece from "./Comece/index.vue";
import Footer from "./Footer/index.vue";

export default {
    components:{
        Header,
        // MenuLateral,
        Sliders,
        Digital,
        AbraSuaConta,
        Proximo,
        Teste,
        Somos,
        UmBanco,
        Solidez,
        Transparencia,
        // Sobre,
        Comece,
        Footer
    }
}
</script>

<style>

</style>
