.nav-links {
        position: fixed;
        right: 80px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            border: transparent;
            height: 50px;
            width: 50px;
            border-radius: 50px;
        }
        li:hover {
            border: solid 1px rgb(124, 185, 109);
        }
        a{
            text-decoration: none;
            height: 15px;
            width: 15px !important;
            border-radius: 15px;
            padding: 0 !important;
        }
        .unSelecionado {
            background-color: #45D279;
        }
        .selecionado {
            background-color: rgb(48, 64, 44);
        }
    }