<template>
    <div class="nav-links d-none d-lg-block">
        <!-- <nav class="nav d-flex flex-column">
            <li class="mb-2"><a @click="isClicked = !isClicked" :style="{'background-color': isClicked ? '#FC4': '#CCC'}" href="#"></a></li>
            <li class="mb-2"><a @click="isClicked = !isClicked" :style="{'background-color': isClicked ? '#FC4': '#CCC'}" href="#digital"></a></li>
            <li class="mb-2"><a @click="isClicked = !isClicked" :style="{'background-color': isClicked ? '#FC4': '#CCC'}" href="#somos"></a></li>
            <li class="mb-2"><a @click="isClicked = !isClicked" :style="{'background-color': isClicked ? '#FC4': '#CCC'}" href="#umBanco"></a></li>
            <li class="mb-2"><a @click="isClicked = !isClicked" :style="{'background-color': isClicked ? '#FC4': '#CCC'}" href="#transparencia"></a></li>
            <li class=""><a @click="isClicked = !isClicked" :style="{'background-color': isClicked ? '#FC4': '#CCC'}" href="#footer"></a></li>
        </nav> -->
        <nav class="nav d-flex flex-column">
            <li class="mb-2"><a class="unSelecionado" href="#"></a></li>
            <li class="mb-2"><a class="unSelecionado" href="#digital"></a></li>
            <li class="mb-2"><a class="unSelecionado" href="#somos"></a></li>
            <li class="mb-2"><a class="unSelecionado" href="#umBanco"></a></li>
            <li class="mb-2"><a class="unSelecionado" href="#transparencia"></a></li>
            <li class=""><a class="unSelecionado" href="#footer"></a></li>
        </nav>
    </div>
</template>

<style lang="scss">
    @import './index';
</style>

<script>
    export default {
        
    }
</script>