<template>
    <section id="footer" class="container-fluid footer">
        <div class="row bg-black py-5">
            <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center">
                <img src="/assets/img/logo.png" class="img-fluid" />
            </div>
            <div class="col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center align-items-lg-start">
                <ul class="row col-12 col-lg-10 list-unstyled d-flex justify-content-between py-2">
                    <li class="col-12 col-lg-2 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="">
                                Documentos importantes
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-lg-2 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="">
                                Emitir 2° via do boleto
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-lg-1 text-center">
                        <a class="text-decoration-none">
                            <span class="">
                                Tarefas
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-lg-2 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="">
                                Perguntas frequentes
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-lg-2 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="">
                                Correspondência Bancária
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-lg-2 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="">
                                Agende 1DBank
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="col-12 d-lg-none">
                    <hr :style="{color: 'rgb(69, 210, 121)'}" />
                </div>
                <ul class="row col-12 col-lg-8 list-unstyled d-flex justify-content-between py-5">
                    <li class="col-12 col-lg-1 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="text-white">
                                Imprensa
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-lg-4 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="text-white">
                                Saiba mais sobre Segurança
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-lg-3 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="text-white">
                                Pilítica de privacidade
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-lg-3 text-center text-lg-start">
                        <a class="text-decoration-none">
                            <span class="text-white">
                                Trabalhe conosco
                            </span>
                        </a>
                    </li>
                    <li class="col-12 d-none d-lg-block">
                        <p class="text-white text-center text-lg-start">CNPJ 00.000.000/0000-00 | Endereço: AV. Avenida Avenida Avenida, nº 0000, Bairro Bairro, Cidade, UF - CEP 00000-000</p>
                    </li>
                </ul>
                <div class="col-12  d-lg-none">
                    <hr :style="{color: 'rgb(69, 210, 121)'}" />
                </div>
                <ul class="col-12 col-lg-7 list-unstyled d-flex py-2">
                    <li class="col-12 d-lg-none">
                        <p class="text-white text-center text-lg-start">CNPJ 00.000.000/0000-00 | Endereço: AV. Avenida Avenida Avenida, nº 0000, Bairro Bairro, Cidade, UF - CEP 00000-000</p>
                    </li>
                </ul>
                <div class="col-12 d-flex justify-content-end">
                    <ul class="row col-12 col-lg-4 list-unstyled d-flex justify-content-center">
                        <li class="col-12 d-flex justify-content-center">
                            <span class="">Acompanhe nossas redes sociais</span>
                        </li>
                        <li class="col-12 list-unstyled row d-flex justify-content-center">
                            <li class="col-2 text-center">
                                <a href="https://twitter.com" target="_blank">
                                    <img class="img-fluid" src="/assets/img/icon/twitter.png" />
                                </a>
                            </li>
                            <li class="col-2 text-center d-none d-lg-block">
                                <a href="https://www.youtube.com" target="_blank">
                                    <img class="img-fluid" src="/assets/img/icon/youtube.png" />
                                </a>
                            </li>
                            <li class="col-2 text-center">
                                <a href="https://www.facebook.com/" target="_blank">
                                    <img class="img-fluid" src="/assets/img/icon/facebook.png" />
                                </a>
                            </li>
                            <li class="col-2 text-center d-none d-lg-block">
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <img class="img-fluid" src="/assets/img/icon/linkedin.png" />
                                </a>
                            </li>
                            <li class="col-2 text-center">
                                <a href="https://www.instagram.com/" target="_blank">
                                    <img class="img-fluid" src="/assets/img/icon/instagram.png" />
                                </a>
                            </li>
                        </li>
                    </ul>
                    <ul class="col-1 list-unstyled d-flex flex-column align-items-end d-none d-lg-block">
                        <li class="col-12">
                            <a class="col-12" href="https://play.google.com" target="_blank">
                                <img src="/assets/img/icon/google-play.png" class="img-fluid" />
                            </a>
                        </li>
                        <li class="col-12">
                            <a class="" href="https://appstoreconnect.apple.com" target="_blank">
                                <img src="/assets/img/icon/app-store.png" class="img-fluid" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

</script>

<style lang="scss">
    @import './index.scss';
</style>
