<script>

</script>

<template>
    <section id="somos" class="somos">
        <div class="">
            <div class="d-flex justify-content-between align-items-center flex-column">
                <div class="box-top d-flex align-items-center justify-content-center flex-column">
                    <div class="col-12 col-lg-8 pt-lg-5">
                        <h1 class="text-white text-center">SOMOS UM BANCO <span>MAIS SIMPLES</span>, QUE FALA A SUA LÍNGUA</h1>
                    </div>
                    <div>
                        <p class="text-white text-center py-3">Da abertura de conta até seus insvestimentos, descomplicamos sua relação com dinheiro.</p>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <button class="col-12 p-3 p-lg-4 rounded border-0">Abrir conta</button>
                    </div>
                </div>
                <div class="container-fluid row bg-black-somos">
                    <div class="col-12 col-lg-3 py-3">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/unlock.png" />
                        </div>
                        <p class="text-white text-center">Abra sua conta totalmente online, pelo celular</p>
                    </div>
                    <div class="col-12 col-lg-3 py-3">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/bar-chart.png" />
                        </div>
                        <p class="text-white text-center">Todos os serviços no celular, computador e tablet</p>
                    </div>
                    <div class="col-12 col-lg-3 py-3">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/credit-card.png" />
                        </div>
                        <p class="text-white text-center">Desbloqueio de cartões e senhas de aplicativo</p>
                    </div>
                    <div class="col-12 col-lg-3 py-3">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/icon/message-square.png" />
                        </div>
                        <p class="text-white text-center">Pague suas compras com os pontos do cartão de crédito na hora que quiser</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import './index';
</style>
