.somos {
    background-image: url(/assets/img/group-5.jpg);
    background-size: cover;
    background-position: center;
    // min-height: 100vh;

    font-family: work sans, sans-serif;

    // @media(max-width: 992px) {
    //     background-position: ;
    // }

    .box-top {
        padding: 150px 0 150px 0;
    }
    h1 {
        font-weight: 700;
        font-size: 48px;
        @media(max-width: 992px) {
            font-size: 30px;
        }
    }
    span {
        color: rgb(69, 210, 121);
    }
    button {
        background-color: rgb(69, 210, 121);
    }
    .bg-black-somos {
        width: 100%;
        background-color: black;
        padding: 150px 0 150px 0;
        @media(max-width:992px) {
            padding: 50px;
        }
    }
}
