<template>
    <section>
        <!-- Button -->
        <button type="button" class="btn btn-primary d-none" id="modal-alertas" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ tituloMsg }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ messageMsg }}
                </div>
                <div class="modal-footer">
                    <div v-if="erro">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">FECHAR</button>
                    </div>
                    <div v-if="sucesso">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">FECHAR</button>
                    </div>
                    <!-- <button type="button" class="btn btn-primary">{{ typeMsg }}</button> -->
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Button trigger modal -->

</template>

<style lang="scss">
    @import './index.scss';
</style>

<script>

export default {
    props: {
        messageMsg: String,
        tituloMsg: String,
        typeMsg: String
    },
    mounted() {
        document.getElementById('modal-alertas').click()    
    },
    data() {
        return {
            erro: document.querySelector('meta[name="erro"]').getAttribute('content'),
            sucesso: document.querySelector('meta[name="sucesso"]').getAttribute('content'),
            // alerta: document.querySelector('meta[name="alerta"]').getAttribute('content')
        }
    }
}
</script>
